body {
	background-color: #600101;
}

.img-holder {
	background-color: black;
	display: inline-block;
	border: 3px solid #f2ab04;
	border-radius: 20px;
	margin: 10px;
	transition: all 0.2s ease;
	padding: 5px;
}

.img-holder:hover {
	transform: scale(1.1);
	border: 3px solid #ffffff;
}

.main-skills {
	color: white;
}

.displayNone {
	display: none;
}

/*center.hanzo #hanzo .main-skills,
center.phara #phara .main-skills,
center.mei #mei .main-skills {
	display: block;
}

center.hanzo .img-holder:not(#hanzo),
center.mei .img-holder:not(#mei)  {
	display: none;
}*/


center.current .current .main-skills {
	display: block;
}

center.current .img-holder:not(.current){
	display: none;
}

.img-holder.current {
	transform: none;
}